<div class="text-center mt-4 display-1">Articles</div>

<div class="container">
  <div class="row justify-content-md-center m-3">
    <div class="col-6 text-center">
      <%= link_to "Create new article", new_article_path, class: "btn btn-warning btn-outline-dark" %>
    </div>
  </div>  
</div>

<%= render 'article' %>