#home-container {
  margin-top: 30px !important;  
}

#jumbotron {
  background-image: asset-url('home_background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  color: rgb(26, 26, 26);
}

#jumbotron h1, p {
  font-weight: bold !important;
}

#main {
  background-color: rgb(142, 184, 197);
}