<footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
    <span class="text-muted">Created with ❤️ by <a class="text-white" href="https://github.com/">nat-v</a></span>
  </div>
</footer>